/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

h2 {
    color: brown;
    font-size: larger;
    margin-left: 800px;
}

h3 {
    color: olivedrab;
    font-size: large;
    margin-left: 800px;
}

h4 {
    color: lightseagreen;
    font-size: large;
    margin-left: 800px;
}

p{
    margin-left: 800px;
}

img{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 800px;
}

.section-article {
    color: chocolate;
    font-size: medium;
    margin-left: 800px;
}

.article-article {
    color: chocolate;
    font-size: medium;
    margin-left: 800px;
}

.example {
    color: cadetblue;
    font-size: medium;
    font-style: italic;
    margin-left: 800px;
}
